extraEnvVars:
  - name: ETCD_HEARTBEAT_INTERVAL
    value: "5000"
  - name: ETCD_ELECTION_TIMEOUT
    value: "30000"

auth:
  rbac:
    enabled: false
    allowNoneAuthentication: true
    create: false
  token:
    enabled: false
    type: simple

autoCompactionMode: revision
autoCompactionRetention: 10

replicaCount: 3
resources:
  limits:
    memory: 1Gi
  requests:
    memory: 500Mi

metrics:
  enabled: {{ vault_helm_etcd_metrics_enabled }}
  podMonitor:
    enabled: {{ vault_helm_etcd_podmonitor_enabled }}
    namespace: vault
  prometheusRule:
    enabled: {{ vault_helm_etcd_prometheus_rules_enabled }} 
