---
alertmanager:
  enabled: false
grafana:
  enabled: false

  selfMonitor:
    enabled: false

## Deploy node exporter as a daemonset to all nodes
nodeExporter:
  enabled: true
prometheus:
  enabled: true
  prometheusSpec:
    remoteWrite:
      - url: http://mimir-nginx/api/v1/push
        basicAuth:
          username:
            name: mimir-basic-auth
            key: username
          password:
            name: mimir-basic-auth
            key: password
  extraSecret:
    name: mimir-basic-auth
    data:
      username: {{k8s_monitoring_mimir_basic_auth_user}}
      password: {{k8s_monitoring_mimir_basic_auth_password}}
